
@font-face {
    font-family: 'Sticky Notes';
    src: url(./fonts/Sticky\ Notes.ttf);
}

@font-face {
    font-family: 'Chivo-Bold';
    src: url(./fonts/Chivo-Bold.ttf);

}

.title {
    font-family: 'Chivo-Bold', sans-serif;
    display: inline-block;
    position: relative;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    text-decoration:none;
    color:#000;
    background: #E7F150;
    display:block;
    height:1.4em;
    width:8em;
    padding:13px;
    box-shadow: 5px 5px 7px #E7F150;
    margin: auto;
    margin-bottom: 50px;
    border-bottom-right-radius: 60px 5px;
}
.title:hover, .title:focus{
    border-bottom-right-radius: 5px;
    background: linear-gradient(-30deg, transparent 1em, #E7F150 0);
    text-shadow: 0 0 5px #fff, 0 0 10px rgb(253, 253, 253), 0 0 15px rgb(191, 191, 191), 0 0 20px #6c706b
}

.flex_Container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: auto;
    
}

.createNew {
    font-family: 'Sticky Notes', sans-serif;
    display: flex;
    font-size: xx-large;
    text-align: center;
    text-decoration:none;
    color:#000; 
    background: #ffd938;
    justify-content: center;
    align-items: center;
    height:1em;
    width:7em;
    padding:1em;
    box-shadow: 5px 5px 7px #ffd938;
    transform: rotate(-6deg); 
    transition: transform .15s linear; 
}

.createNew:hover, .createNew:focus {
    border-bottom-right-radius: 5px;
    width: 7em;
    height: 1em;
    background: linear-gradient(-30deg, transparent 1.5em, #ffd938 0);
    text-shadow: 0 0 10px rgb(255, 255, 255);
}
.myFlashcard {
    font-family: 'Sticky Notes', sans-serif;
    font-size: xx-large;
    text-align: center;
    text-decoration:none;
    color:#000;
    background: #fbae3c;
    display:block;
    justify-content: center;
    height:1em;
    width:7em;
    padding:1em;
    box-shadow: 5px 5px 7px #fbae3c;
    transform: rotate(6deg);
    transition: transform .15s linear;
}

.myFlashcard:hover, .myFlashcard:focus {
    border-bottom-right-radius: 5px;
    width: 7em;
    height: 1em;
    background: linear-gradient(-30deg, transparent 1.5em, #fbae3c 0);
    text-shadow: 0 0 10px rgb(245, 244, 244);
}
.study {
    font-family: 'Sticky Notes', sans-serif;
    font-size: xx-large;
    text-align: center;
    text-decoration:none;
    color:#000;
    background: #fd4db0;
    display:block;
    height:1em;
    width:7em;
    padding:1em;
    box-shadow: 5px 5px 7px #fd4db0;
    transform: rotate(-6deg);
    transition: transform .15s linear; 
}
.study:hover, .study:focus {
    border-bottom-right-radius: 5px;
    width: 7em;
    height: 1em;
    background: linear-gradient(-30deg, transparent 1.5em, #fd4db0 0);
    text-shadow: 0 0 5px white;
}
.favorites {
    font-family: 'Sticky Notes', sans-serif;
    font-size: xx-large;
    text-align: center;
    text-decoration:none;
    color:#000;
    background: #1dace6;
    display:block;
    height:1em;
    width:7em;
    padding:1em;
    box-shadow: 5px 5px 7px #1dace6;
    transform: rotate(6deg);
    transition: transform .15s linear;
  
}
.favorites:hover, .favorites:focus {
    border-bottom-right-radius: 5px;
    width: 7em;
    height: 1em;
    background: linear-gradient(-30deg, transparent 1.5em, #1dace6 0);
    text-shadow: 0 0 10px white;
}
/* .container {
    padding: 0.5em;
    display: grid;
    justify-content: space-evenly
} */
.card {
    cursor: pointer;
    font-family: 'Sticky Notes', sans-serif;
    font-size: 20;
    text-align: center;
    text-decoration:none;
    color:#000;
    background: #E7F150;
    display:block;
    min-height:30px;
    max-width:50%;
    padding:1%;
    margin: 60px auto;
    box-shadow: 5px 5px 7px #1dace6;
    transition: transform .15s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    margin-top: 30px;
    border-radius: 4px;
    width: 80%;
    height: auto;
    justify-content: right;
}

.search_container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Chivo-Bold', sans-serif;
    font-size: 30px;
    box-sizing: 50px;
}

.inputBox {
    border: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: darkgrey;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;

}
.inputBox:hover {
    border-bottom-right-radius: 5px;
    background: linear-gradient(-40deg, transparent 1em, darkgrey 0)
}

.form-style-6{
	font: 95% Chivo-Bold, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
    margin-top: 100px;
}
.form-style-6 h1{
	background: grey;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #E7F150;
	padding: 3%;
	border: 1px solid #E7F150;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    font: Chivo-Bold, Monaco, Consolas, "Courier New", monospace;
    font-size: large;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: grey;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    border-bottom-right-radius: 5px;
    background: linear-gradient(-30deg, transparent 1em, darkgrey 0);
    cursor: pointer
}
.home_container {
    position: relative;
}
.home_img {
    height: auto;
    max-width: 38%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    position: relative;
}
.first-txt {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: black;
    text-align: center;
    font-family: Chivo-Bold;
    font-size: 28px;
    text-shadow: 0 0 10px rgb(87, 251, 50);
}
.second-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: black;
    text-align: center;
    font-family: Chivo-Bold;
    font-size: 23px;
    text-shadow: 0 0 10px rgb(251, 50, 217);
}
.third-txt {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: black;
    text-align: center;
    font-size: 30px;
    transform: translate(-50%, -50%);
    opacity:1;
    transition: opacity 0.5s;
}
.third-txt:hover {
    color: #fd4db0;
    cursor: grab;
}
.delete {
    border-radius: 5px;
    background: white
}
.favorite_btn:hover {
    color: #fd4db0;
    cursor: grab;
}
.delete_btn:hover {
    color: red;
    cursor: grab
}
.edit_btn:hover {
    color: #53c8f6;
    cursor: grab;
}
.study_delete:hover {
    color: #007e1f;
    cursor: grab;
}
