
@font-face {
    font-family: 'Sticky Notes';
    src: url(./fonts/Sticky\ Notes.ttf);
}
@font-face {
    font-family: 'StickNoteDemoRegular';
    src: url(./fonts/StickNoteDemoRegular.ttf);
}
@font-face {
    font-family: 'Chivo-Bold';
    src: url(./fonts/Chivo-Bold.ttf);

}

.title {
    font-family: 'Sticky Notes', sans-serif;
    display: inline-block;
    position: relative;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration:none;
    color:#000;
    background: #E7F150;
    display:block;
    height:1.5em;
    width:10em;
    padding:1em;
    box-shadow: 5px 5px 7px #E7F150;
    margin: auto;
    border-bottom-right-radius: 60px 5px;
}
.title:hover{
    border-bottom-right-radius: 5px;
    width: 10em;
    height: 1.5em;
    background: linear-gradient(-30deg, transparent 1.2em, #E7F150 0);
}

.createNew {
    font-family: 'Sticky Notes', sans-serif;
    display: inline-block;
    font-size: xx-large;
    text-align: center;
    text-decoration:none;
    color:#000;

}

.createNew {
    background: #FBAE3C;
    display:block;
    height:1em;
    width:7em;
    padding:1em;
    box-shadow: 5px 5px 7px #FBAE3C;
    transform: rotate(-6deg);
    transition: transform .15s linear;
    margin-left: 3em;
    margin-top: 1.8em
}

.myFlashcard {
    font-family: 'Sticky Notes', sans-serif;
    font-size: xx-large;
    text-align: center;
    text-decoration:none;
    color:#000;
    background: #FD4DB0;
    display:block;
    height:1em;
    width:7em;
    padding:1em;
    box-shadow: 5px 5px 7px #FD4DB0;
    transform: rotate(6deg);
    transition: transform .15s linear;
    margin-left: 13em;
    margin-top: -3em
}

.study {
    font-family: 'Sticky Notes', sans-serif;
    font-size: xx-large;
    text-align: center;
    text-decoration:none;
    color:#000;
    background: #1DACE6;
    display:block;
    height:1em;
    width:7em;
    padding:1em;
    box-shadow: 5px 5px 7px #1DACE6;
    transform: rotate(-6deg);
    transition: transform .15s linear;
    margin-left: 23em;
    margin-top: -3em
}

.favorites {
    font-family: 'Sticky Notes', sans-serif;
    font-size: xx-large;
    text-align: center;
    text-decoration:none;
    color:#000;
    background: #FFD938;
    display:block;
    height:1em;
    width:7em;
    padding:1em;
    box-shadow: 5px 5px 7px #FFD938;
    transform: rotate(6deg);
    transition: transform .15s linear;
    margin-left: 33em;
    margin-top: -3em
}

.card {
    cursor: pointer;
    font-family: 'Sticky Notes', sans-serif;
    font-size: 20;
    text-align: center;
    text-decoration:none;
    color:#000;
    background: #26d83e;
    display:block;
    min-height:30px;
    max-width:10%;
    padding:1%;
    margin: 5px 0;
    box-shadow: 5px 5px 7px #FFD938;
    transition: transform .15s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}