
@font-face {
    font-family: 'Sticky Notes';
    src: url(./fonts/Sticky\ Notes.ttf);
}

@font-face {
    font-family: 'Chivo-Bold';
    src: url(./fonts/Chivo-Bold.ttf);

}

.title {
    font-family: 'Chivo-Bold', sans-serif;
    display: inline-block;
    position: relative;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration:none;
    color:#000;
    background: #E7F150;
    display:block;
    height:1.5em;
    width:10em;
    padding:1em;
    box-shadow: 5px 5px 7px #E7F150;
    margin: auto;
    border-bottom-right-radius: 60px 5px;
}
.title:hover{
    border-bottom-right-radius: 5px;
    width: 10em;
    height: 1.5em;
    background: linear-gradient(-30deg, transparent 1.5em, #E7F150 0);
}

.createNew {
    font-family: 'Sticky Notes', sans-serif;
    font-size: xx-large;
    text-align: center;
    text-decoration:none;
    color:#000; 
    background: #FBAE3C;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height:1em;
    width:7em;
    padding:1em;
    box-shadow: 5px 5px 7px #FBAE3C;
    transform: rotate(-6deg);
    transition: transform .15s linear;
    margin-left: 250px;
    margin-top: 50px;
}

.createNew:hover {
    border-bottom-right-radius: 5px;
    width: 7em;
    height: 1em;
    background: linear-gradient(-30deg, transparent 1.5em, #FBAE3C 0)
}

.myFlashcard {
    font-family: 'Sticky Notes', sans-serif;
    font-size: xx-large;
    text-align: center;
    text-decoration:none;
    color:#000;
    background: #FD4DB0;
    display:block;
    height:1em;
    width:7em;
    padding:1em;
    box-shadow: 5px 5px 7px #FD4DB0;
    transform: rotate(6deg);
    transition: transform .15s linear;
    margin: auto;
    margin-left: 630px;
    margin-top: -95px
}

.myFlashcard:hover {
    border-bottom-right-radius: 5px;
    width: 7em;
    height: 1em;
    background: linear-gradient(-30deg, transparent 1.5em, #FD4DB0 0)
}
.study {
    font-family: 'Sticky Notes', sans-serif;
    font-size: xx-large;
    text-align: center;
    text-decoration:none;
    color:#000;
    background: #1DACE6;
    display:block;
    height:1em;
    width:7em;
    padding:1em;
    box-shadow: 5px 5px 7px #1DACE6;
    transform: rotate(-6deg);
    transition: transform .15s linear;
    margin: auto;
    margin-left: 1000px;
    margin-top: -95px
}
.study:hover {
    border-bottom-right-radius: 5px;
    width: 7em;
    height: 1em;
    background: linear-gradient(-30deg, transparent 1.5em, #1dace6 0)
}
.favorites {
    font-family: 'Sticky Notes', sans-serif;
    font-size: xx-large;
    text-align: center;
    text-decoration:none;
    color:#000;
    background: #FFD938;
    display:block;
    height:1em;
    width:7em;
    padding:1em;
    box-shadow: 5px 5px 7px #FFD938;
    transform: rotate(6deg);
    transition: transform .15s linear;
    position: relative;
    margin-left: 1380px;
    margin-top: -95px
}
.favorites:hover {
    border-bottom-right-radius: 5px;
    width: 7em;
    height: 1em;
    background: linear-gradient(-30deg, transparent 1.5em, #ffd938 0)
}
.container {
    padding: 0.5em;
    display: grid;

}
.card {
    padding: 2em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    background-color: #E7F150;
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3rd
}


.front {
    
    color: black;
  }
  
  .back {
  
    background-color: green; 
    color: white;
  }