
@font-face {
    font-family: 'Sticky Notes';
    src: url(./fonts/Sticky\ Notes.ttf);
}

@font-face {
    font-family: 'Chivo-Bold';
    src: url(./fonts/Chivo-Bold.ttf);

}

.title {
    font-family: 'Chivo-Bold', sans-serif;
    display: inline-block;
    position: relative;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    text-decoration:none;
    color:#000;
    background: #E7F150;
    display:block;
    height:1.4em;
    width:8em;
    padding:13px;
    box-shadow: 5px 5px 7px #E7F150;
    margin: auto;
    margin-bottom: 50px;
    border-bottom-right-radius: 60px 5px;
}
.title:hover{
    border-bottom-right-radius: 5px;
    width: 10em;
    height: 1.5em;
    background: linear-gradient(-30deg, transparent 1.5em, #E7F150 0);
}

.flex_Container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: auto;
    
}

.createNew {
    font-family: 'Sticky Notes', sans-serif;
    display: flex;
    font-size: xx-large;
    text-align: center;
    text-decoration:none;
    color:#000; 
    background: #FBAE3C;
    justify-content: center;
    align-items: center;
    height:1em;
    width:7em;
    padding:1em;
    box-shadow: 5px 5px 7px #FBAE3C;
    transform: rotate(-6deg); 
    transition: transform .15s linear; 
}

.createNew:hover {
    border-bottom-right-radius: 5px;
    width: 7em;
    height: 1em;
    background: linear-gradient(-30deg, transparent 1.5em, #FBAE3C 0)
}

.myFlashcard {
    font-family: 'Sticky Notes', sans-serif;
    font-size: xx-large;
    text-align: center;
    text-decoration:none;
    color:#000;
    background: #FD4DB0;
    display:block;
    justify-content: center;
    height:1em;
    width:7em;
    padding:1em;
    box-shadow: 5px 5px 7px #FD4DB0;
    transform: rotate(6deg);
    transition: transform .15s linear;
}

.myFlashcard:hover {
    border-bottom-right-radius: 5px;
    width: 7em;
    height: 1em;
    background: linear-gradient(-30deg, transparent 1.5em, #FD4DB0 0)
}
.study {
    font-family: 'Sticky Notes', sans-serif;
    font-size: xx-large;
    text-align: center;
    text-decoration:none;
    color:#000;
    background: #1DACE6;
    display:block;
    height:1em;
    width:7em;
    padding:1em;
    box-shadow: 5px 5px 7px #1DACE6;
    transform: rotate(-6deg);
    transition: transform .15s linear; 
}
.study:hover {
    border-bottom-right-radius: 5px;
    width: 7em;
    height: 1em;
    background: linear-gradient(-30deg, transparent 1.5em, #1dace6 0)
}
.favorites {
    font-family: 'Sticky Notes', sans-serif;
    font-size: xx-large;
    text-align: center;
    text-decoration:none;
    color:#000;
    background: #FFD938;
    display:block;
    height:1em;
    width:7em;
    padding:1em;
    box-shadow: 5px 5px 7px #FFD938;
    transform: rotate(6deg);
    transition: transform .15s linear;
  
}
.favorites:hover {
    border-bottom-right-radius: 5px;
    width: 7em;
    height: 1em;
    background: linear-gradient(-30deg, transparent 1.5em, #ffd938 0)
}
.container {
    padding: 0.5em;
    display: grid;
    justify-content: space-evenly
}
.card {
    cursor: pointer
}



.image {
    margin-top: 30px;
    border-radius: 4px;
    width: 30%;
    height: auto;
    justify-content: right;
}

.search_container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Chivo-Bold', sans-serif;
    font-size: 30px;
    box-sizing: 50px;
}

.inputBox {
    border: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: darkgrey;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
}
.inputBox:hover {
    border-bottom-right-radius: 5px;
    background: linear-gradient(-40deg, transparent 1em, darkgrey 0)
}

